<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, </h1>


  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>

    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </div>
  </div>

  <hr>

</div>
<!-- /container -->


